<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://transloco.net">
      <img src="https://transloco.netlify.com/assets/logo.png">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>

      <a class="navbar-item" routerLink="contacts">Contacts</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" (click)="changeLang('en')">English</a>
          <a class="button is-light" (click)="changeLang('es')">Spanish</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div style="padding: 30px">
  <router-outlet></router-outlet>
</div>
